<h1>All Monthly Budget</h1>

<a href="/MonthlyBudget/new">
    <div class="newbtn">
        <div style="text-align:center;">
            <button type="button" class="MonthlyBudget_btn">New MonthlyBudget</button>
        </div>
    </div>
</a>
</a>

<ul>
    {{#each allMonthlyBudget}}

    <li>
        <a href="/MonthlyBudget/{{_id}}">
            {{monthlyincome}}
        </a>
        <h3>{{monthlyexpenses}}</h3>
        <h3>{{monthlybudget}}</h3>

    </li>

    {{/each}}
</ul>