<h1>Create MonthlyBudget</h1>

<form method="POST" action="/MonthlyBudget">

  <div class="login-containers">
    <div class="login-variables">

      <label class="form-label" for="MonthlyIncome">Monthly Income</label>
      <input type="number" value="" placeholder="monthlyincome" name="monthlyincome" id="monthlyincome" />

      <label class="form-label" for="MonthlyExpenses">Monthly Expenses</label>
      <input type="text" value="" placeholder="monthlyexpenses" name="monthlyexpenses" id="monthlyexpenses" />

      <label class="form-label" for="MonthlyBudget">Propososed Monthly Budget</label>
      <input type="number" value="" name="monthlybudget" id="monthlybudget" />

      <div class="btn-container">
        <input class="signup_btn" type="submit" value="Add Monthly Expenses" id="submit_btn" />

      </div>

    </div>


</form>