<h1>Create MonthlyBudget</h1>

<form method="POST" action="/MonthlyBudget">


  <div class="MonthlyBudgetVariables">

    <label for="MonthlyIncome">Monthly Income</label>
    <input type="number" value="" placeholder="monthlyincome" name="monthlyincome" id="monthlyincome" />

    <label for="MonthlyExpenses">Monthly Expenses</label>
    <input type="text" value="" placeholder="monthlyexpenses" name="monthlyexpenses" id="monthlyexpenses" />

    <label for="MonthlyBudget">Propososed Monthly Budget</label>
    <input type="number" value="" name="monthlybudget" id="monthlybudget" />

    <input type="submit" value="Create MonthlyBudget" id="submit_btn" />

  </div>


</form>