<h1>Add Bank Information</h1>

<a href="/bankInfo/new">
    <div class="newbtn">
        <div style="text-align:center;">
            <button type="button" class="bankInfo_btn"></button>
        </div>
    </div>
</a>
</a>

<ul>
    {{#each allbankInfo}}

    <li>
        <a href="/bankInfo/{{_id}}">
            {{bankname}}
        </a>
        <h3>{{bankaccount}}</h3>
        <h3>{{bankrouting}}</h3>

    </li>

    {{/each}}
</ul>