<h1>Create Bank Info</h1>

<form method="POST" action="/bankinfo">

  <div class="login-containers">
    <div class="login-variables">

      <label class="form-label" for="bankname">Bank Name</label>
      <input type="text" value="" class="form-input-box" placeholder="bankname" name="bankname" id="bankname" />

      <label class="form-label" for="bankaccount">Bank Account</label>
      <input type="number" value="" class="form-input-box" placeholder="bankaccount" name="bankaccount"
        id="bankaccount" />

      <label class="form-label" for="bankrouting">Bank Routing</label>
      <input type="number" value="" class="form-input-box" name="bankrouting" id="bankrouting" />

      <div class="btn-container">
        <input class="signup_btn" type="submit" value="Login" id="submit_btn" />

      </div>

    </div>
  </div>

</form>