<div class="signup-title">Congrats!</div>
<div class="signup-title-description">You've Finished Setting Up Your Account!</div>


<div class="btn-container" style="padding-top: 75px;">

    <div class="new-acct-btn">
        <a href="/acct">
            <button type="button" class="signup_btn">View Account Information</button>
        </a>

    </div>


</div>