<div class="signup-title">Thank You For Creating Your New Account!</div>

<form method="POST">
    <div class="btn-container" style="padding: 100px;">
        <input class="signup_btn" type="submit" value="View Account Information" id="submit_btn" />

    </div>
</form>