<h1>Welcome to Penny-Wise!</h1>

<a href="/Welcome/new">
    <div class="newbtn">
        <div style="text-align:center;">
            <button type="button" class="Welcome_btn">Let's Get Started!</button>
        </div>
    </div>
</a>
</a>

<ul>
    {{#each allWelcome}}

    <li>
        <a href="/Welcome/{{_id}}">
            {{country}}
        </a>
        <h3>{{state}}</h3>
        <h3>{{zipcode}}</h3>

    </li>

    {{/each}}
</ul>