<h1>Please Enter Your Location</h1>

<form method="POST" action="/Welcome">

  <div class="signup-containers">
    <div class="signup-variables">


      <label class="form-label" for="welcomecountry">Country</label>
      <input type="text" value="" class="form-input-box" placeholder="country" name="country" id="country" />

      <label class="form-label" for="welcomestate">State</label>
      <input type="text" class="form-input-box" value="" placeholder="state" name="state" id="phonenumber" />

      <label class="form-label" for="welcomezipcode">Zip Code</label>
      <input type="password" class="form-input-box" value="" name="password" id="password" />

      <div class="btn-container">
        <input class="signup_btn" type="submit" value="submit" id="submit_btn" />

      </div>
    </div>
  </div>


</form>