<h1>Create Welcome</h1>

<form method="POST" action="/Welcome">


  <div class="WelcomeVariables">

    <label for="welcomecountry">Country</label>
    <input type="text" value="" placeholder="country" name="country" id="country" />

    <label for="welcomestate">State</label>
    <input type="text" value="" placeholder="state" name="state" id="state" />

    <label for="welcomezipcode">Zip Code</label>
    <input type="number" value="" name="zipcode" id="zipcode" />

    <input type="submit" value="Create Welcome" id="submit_btn" />

  </div>


</form>