<h1>Edit Welcome</h1>

<form method="POST" action="/Welcome/{{welcome._id}}?_method=PUT">

  <input type="text" placeholder="country" name="country" value="{{welcome.country}}" />

  <input type="text" placeholder="state" name="state" value="{{welcome.state}}" />

  <input type="number" placeholder="zipcode" name="zipcode" value="{{welcome.zipcode}}" />

  <input type="submit" value="Save" />
</form>