<h1>Edit Welcome</h1>

<form method="POST" action="/Welcome/{{Welcome._id}}?_method=PUT">

  <input type="text" placeholder="country" name="country" value="{{Welcome.country}}" />

  <input type="date" placeholder="state" name="state" value="{{Welcome.state}}" />

  <input type="text" placeholder="zipcode" name="zipcode" value="{{Welcome.zipcode}}" />

  <input type="submit" value="Save" />
</form>