<div class="signup-title">Welcome to Penny-Wise</div>

<div class="signup-title-description">Let's Get Started!</div>


<div class="btn-container">
    <div class="new-acct-btn">
        <a href="/signUp/new">
            <button type="button" class="signup_btn">Create New Account</button>
        </a>

    </div>
</div>





<ul>
    {{#each allsignUp}}

    <li>
        <a href="/signUp/{{_id}}">
            {{email}}
        </a>
        <h3>{{phonenumber}}</h3>
        <h3>{{password}}</h3>

    </li>

    {{/each}}
</ul>