<h1>Sign Up!</h1>
</div>


<a href="/signUp/new">
    <div class="newacctbtn">
        <div style="text-align:center;">
            <button type="button" class="signUp_btn">Create New Account</button>
        </div>
    </div>


</a>
</a>


<ul>
    {{#each allsignUp}}

    <li>
        <a href="/signUp/{{_id}}">
            {{email}}
        </a>
        <h3>{{phonenumber}}</h3>
        <h3>{{password}}</h3>

    </li>

    {{/each}}
</ul>