<h1>All signUp</h1>

<a href="/signUp/new">
    <div class="newbtn">
        <div style="text-align:center;">
            <button type="button" class="signUp_btn">New signUp</button>
        </div>
    </div>
</a>
</a>

<ul>
    {{#each allsignUp}}

    <li>
        <a href="/signUp/{{_id}}">
            {{email}}
        </a>
        <h3>{{phonenumber}}</h3>
        <h3>{{password}}</h3>

    </li>

    {{/each}}
</ul>