<h1>Create New Account</h1>

<form method="POST" action="/signUp">

  <div class="signup-containers">
    <div class="signup-variables">


      <label class="form-label" for="signupemail">Email</label>
      <input type="text" value="" class="form-input-box" placeholder="email" name="email" id="email" />

      <label class="form-label" for="signupphonenumber">Phone Number</label>
      <input type="number" class="form-input-box" value="" placeholder="phonenumber" name="phonenumber"
        id="phonenumber" />

      <label class="form-label" for="signuppassword">Password</label>
      <input type="password" class="form-input-box" value="" name="password" id="password" />

      <div class="btn-container">
        <input class="signup_btn" type="submit" value="submit" id="submit_btn" />

      </div>
    </div>
  </div>

</form>