<h1>Create signUp</h1>

<form method="POST" action="/signUp">


  <div class="signUpVariables">

    <label for="signupemail">Email</label>
    <input type="text" value="" placeholder="email" name="email" id="email" />

    <label for="signupphonenumber">Phone Number</label>
    <input type="number" value="" placeholder="phonenumber" name="phonenumber" id="phonenumber" />

    <label for="signuppassword">Password</label>
    <input type="text" value="" name="password" id="password" />

    <input type="submit" value="Create signUp" id="submit_btn" />

  </div>


</form>