<h1>Edit signUp</h1>

<form method="POST" action="/signUp/{{signUp._id}}?_method=PUT">

  <input type="text" placeholder="email" name="email" value="{{signUp.email}}" />

  <input type="text" placeholder="phonenumber" name="phonenumber" value="{{signUp.phonenumber}}" />

  <input type="text" placeholder="password" name="password" value="{{signUp.password}}" />

  <input type="submit" value="Save" />
</form>