<h1>Update Login Account Information</h1>

<form method="POST" action="/signUp/{{signUp._id}}?_method=PUT">

  <input type="text" placeholder="email" name="email" value="{{signUp.email}}" />

  <input type="number" placeholder="phonenumber" name="phonenumber" value="{{signUp.phonenumber}}" />

  <input type="password" placeholder="password" name="password" value="{{signUp.password}}" />

  <div class="btn-container">
    <input class="signup_btn" type="submit" value="Save" />
  </div>

</form>