<h1>All Login</h1>

<a href="/Login/new">
    <div class="newbtn">
        <div style="text-align:center;">
            <button type="button" class="Login_btn">New Login</button>
        </div>
    </div>
</a>
</a>

<ul>
    {{#each allLogin}}

    <li>
        <a href="/Login/{{_id}}">
            {{email}}
        </a>

        <h3>{{password}}</h3>

    </li>

    {{/each}}
</ul>