<h1>Login</h1>

<a href="/login/new">
    <div class="newbtn">
        <div style="text-align:center;">
            <button type="button" class="login_btn">Submit</button>
        </div>
    </div>
</a>
</a>

<ul>
    {{#each allLogin}}

    <li>
        <a href="/login/{{_id}}">
            {{email}}
        </a>

        <h3>{{password}}</h3>

    </li>

    {{/each}}
</ul>