<h1>Create Issues</h1>

<form method="POST" action="/issues">


  <div class="issuesVariables">

    <label for="issuesDescription">Description</label>
    <input type="text" value="" placeholder="description" name="description" id="issuesDescription" />

    <label for="issuesCreatedAt">Created At</label>
    <input type="date" value="" placeholder="createdAt" name="createdAt" id="createdAt" />

    <label for="issuesStatus">Status</label>
    <input type="text" value="" name="status" id="issuesStatus" />

    <label for="issuesPriority">Priority</label>
    <input type="text" value="" name="priority" id="issuesPriority" />

    <input type="submit" value="Create Issues" id="submit_btn" />

  </div>


</form>