<h1>Create Login</h1>

<form method="POST" action="/Login">


  <div class="LoginVariables">

    <label for="LoginDescription">Email</label>
    <input type="text" value="" placeholder="email" name="email" id="email" />

    <label for="LoginCreatedAt">Password</label>
    <input type="text" value="" placeholder="password" name="password" id="password" />

    <input type="submit" value="Create Login" id="submit_btn" />

  </div>


</form>