<h1>Create Login</h1>

<form method="POST" action="/login">

  <div class="login-containers"></div>
  <div class="login-variables">

    <label class="form-label" for="Email">Email</label>
    <input type="text" value="" class="form-input-box" placeholder="email" name="email" id="email" />

    <label class="form-label" for="Password">Password</label>
    <input type="password" value="" class="form-input-box" placeholder="password" name="password" id="password" />


    <div class="btn-container">
      <input class="signup_btn" type="submit" value="Login" id="submit_btn" />

    </div>

  </div>
  </div>