<h1>Edit Login</h1>

<form method="POST" action="/Login/{{Login._id}}?_method=PUT">

  <input type="text" placeholder="email" name="email" value="{{Login.email}}" />

  <input type="text" placeholder="password" name="password" value="{{Login.password}}" />


  <input type="submit" value="Save" />
</form>