<h1>Edit Login</h1>

<form method="POST" action="/login/{{login._id}}?_method=PUT">

  <input type="text" placeholder="email" name="email" value="{{login.email}}" />

  <input type="text" placeholder="password" name="password" value="{{login.password}}" />


  <input type="submit" value="Save" />
</form>