<h2>Email:</h2>
<div>{{singleLogin.email}}</div>

<h2>Password:</h2>
<div>{{singleLogin.password}}</div>

<form method="POST" action="/Login/{{singleLogin._id}}?_method=DELETE">
    <input type="submit" value="Delete Login">
</form>

<a href="/Login/{{singleLogin._id}}/edit">
    <button>Edit Login</button>
</a>