<h2>Email:</h2>
<div>{{singleLogin.email}}</div>

<h2>Password:</h2>
<div>{{singleLogin.password}}</div>

<form method="POST" action="/login/{{singleLogin._id}}?_method=DELETE">
    <input type="submit" value="Delete Login Information">
</form>

<a href="/login/{{singleLogin._id}}/edit">
    <button>Change Login Information</button>
</a>