<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="home.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" rel="stylesheet">
</head>

<body>

    <div class="fade-in">
        <div class="home-title">
            <div class="signup-title" padding="300px">Welcome to Penny-Wise</div>
        </div>
    </div>

</body>

</html>